<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @student.id %>
</p>

<p>
  <strong>Sname:</strong>
  <%= @student.sname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Cl_id:</strong>
  <%= @student.cl_id %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @student.fname %>
</p>

<p>
  <strong>Mname:</strong>
  <%= @student.mname %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @student.ph %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
