<p id="notice"><%= notice %></p>

<p>
  <strong>Cid:</strong>
  <%= @cl.id %>
</p>

<p>
  <strong>Std:</strong>
  <%= @cl.std %>
</p>

<p>
  <strong>Sec:</strong>
  <%= @cl.sec %>
</p>

<p>
  <strong>Tid:</strong>
  <%= @cl.teacher_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @cl.room %>
</p>

<%= link_to 'Edit', edit_cl_path(@cl) %> |
<%= link_to 'Back', cls_path %>
