<h1>Hello, Welcome to school Database!</h1>

<h2>Tables</h2>
<p>
	<%= link_to 'Students', students_path %>
</p>

<p>
<%= link_to 'Teachers', teachers_path %>
</p>

<p>
<%= link_to 'Class', cls_path %>
</p>

<p>
<%= link_to 'Subjects', subjects_path %>
</p>

<p>
<%= link_to 'marks', marks_path %>
</p>

<p>
<%= link_to 'attendance', attendances_path %>
</p>

<p>
<%= link_to 'Extracurriculars', extracurriculars_path %>
</p>


<h2>Functions and Procedures</h2>


<p>
<%= link_to 'Report Card', report_index_path %>
</p>


<p>
<%= link_to 'Exam', exam_index_path %>
</p>


