<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @extracurricular.sid %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @extracurricular.activity %>
</p>

<%= link_to 'Edit', edit_extracurricular_path(@extracurricular) %> |
<%= link_to 'Back', extracurriculars_path %>
