<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @teacher.id %>
</p>

<p>
  <strong>Tname:</strong>
  <%= @teacher.tname %>
</p>

<p>
  <strong>Doj:</strong>
  <%= @teacher.doj %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @teacher.gender %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @teacher.exp %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @teacher.ph %>
</p>

<p>
  <strong>Address:</strong>
  <%= @teacher.address %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
