<p id="notice"><%= notice %></p>

<p>
  <strong>Tid:</strong>
  <%= @teacher.tid %>
</p>

<p>
  <strong>Tname:</strong>
  <%= @teacher.tname %>
</p>

<p>
  <strong>Doj:</strong>
  <%= @teacher.doj %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @teacher.gender %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
