<p id="notice"><%= notice %></p>

<p>
  <strong>Sid:</strong>
  <%= @attendance.student_id %>
</p>

<p>
  <strong>Attend:</strong>
  <%= @attendance.attend %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
